</div>



<!-- <div class="bottom">
 <a href="# "><i class=" fab fa-facebook fa-facebook-square fa-3x "> </i></a>
 <a href="#"><i class="fab fa-instagram fa-instagram-square fa-3x"> </i></a>
  <a href="#"><i class="fab fa-twitter fa-twitter-square fa-3x"> </i></a>
<p class="copyright">© 2019 Aki Media.</p>
</div> -->


</body>
</html>
