
html, body {
   margin:0;
   padding: 0;
}

.header img {
  float: left;
  width: 90px;

}

.header h1 {
  position: relative;
  top: 15px;
  left: 30px;
  margin-bottom: 30px;
}

.header p {
    position: relative;
    left: 120px;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding:0
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form{
  display: inline;
}


/* footer */
