<% include ../partials/header %>

 <div class="container">
     <header class="jumbotron">
         <div class="container">
           <div class="header">
             <img class = "img-circle img-responsive "src="/images/logo.png" alt="logo">
              <h1>Welcome to CaraVan!</h1>
             <p>View our hand-picked cars from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/cars/new">Add New car</a>
             </p>
             </div>
         </div>
     </header>

     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% cars.forEach(function(car){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= car.image %>">
                   <div class="caption">
                       <h4><%= car.name %></h4>
                   </div>
                   <p>
                       <a href="/cars/<%= car._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
